.h5p-file-for-download .h5p-file-for-download-main {
  .h5p-file-for-download-file-name {
    margin-bottom: 0.5rem;
  }

  .h5p-file-for-download-button {
    background-color: var(--color-primary);
    color: var(--color-background);
    margin: 0;
  }
}
