@import "@styles/main";

.h5p-combination-lock {
  background-color: $color-background;
  color: $color-text;
  width: 100%;

  .h5p-combination-lock-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .h5p-combination-lock-introduction {
      width: 100%;

      .h5p-combination-lock-intro-content {
        margin: 0;

        > *:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .h5p-question-buttons {
    display: flex;
    justify-content: center;
  }

  &.h5p-standalone {
    .h5p-question-buttons {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
}
