.saveButton {
  background-color: #2579c6;
  background-image: linear-gradient(#3080c9 50%, transparent 50%, transparent);
  border-radius: 0.25em;
  border: 1px solid #3080c9;
  line-height: 42px;
  min-height: 42px;
  display: inline-block;
  width: auto;
  margin: 10px 0 0 0;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  transition: 0.1s;

  &:hover {
    background-color: #0079c6;
    background-image: linear-gradient(
      #1080c9 50%,
      transparent 50%,
      transparent
    );
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 16px 0 rgb(133 188 255 / 84%);
  }
}
