.h5p-text-content > .h5p-image {
  height: 100%;
  width: 100%;
}
.h5p-text-content > .h5p-image > img {
  margin: 0 auto;
}

.h5p-text-content > .h5p-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;

  &.h5p-youtube {
    background-color: #000;
    &> div {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.h5p-text-dialog.h5p-video {
  height: 80%;

  .h5p-text-content {
    height: 100%;
    overflow: hidden;
  }
}
