@import "@styles/main";

.h5p-content-compiler-message-box {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &.display-none {
    display: none;
  }

  .h5p-content-compiler-message-box-message {
    margin: 0;
    padding: 0;
  }
}
