.h5peditor.h5p-discreteoptionmultichoice-editor {
  .field.field-name-question {
    &.disabled {
      .ckeditor {
        background-color: rgba(239, 239, 239, 0.3);
        color: rgb(84, 84, 84);
        cursor: none;
        pointer-events: none;
      }
    }
  }
}
