.h5peditor-3d-model-preview-wrapper {
  margin-bottom: 0.5rem;
  max-width: 100%;
  position: relative;
  transition: max-height 0.4s ease-in-out;

  &:not(.large) {
    max-height: 15rem;
  }

  &.large {
    max-height: 30rem;
  }

  .display-none {
    display: none;
  }

  .h5peditor-3d-model-preview {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAABhGlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9TtVIqDnYQcQhSnSxIFXHUKhShQqgVWnUwufQLmjQkKS6OgmvBwY/FqoOLs64OroIg+AHi5Oik6CIl/i8ptIj14Lgf7+497t4BQr3MNKtrAtB020wl4mImuyoGXtGDEIKIYURmljEnSUl0HF/38PH1LsqzOp/7c/SpOYsBPpF4lhmmTbxBPL1pG5z3icOsKKvE58TjJl2Q+JHrisdvnAsuCzwzbKZT88RhYrHQxkobs6KpEU8RR1RNp3wh47HKeYuzVq6y5j35C0M5fWWZ6zSHkcAiliBBhIIqSijDRpRWnRQLKdqPd/APuX6JXAq5SmDkWEAFGmTXD/4Hv7u18pMxLykUB7pfHOdjFAjsAo2a43wfO07jBPA/A1d6y1+pAzOfpNdaWuQI6N8GLq5bmrIHXO4Ag0+GbMqu5Kcp5PPA+xl9UxYYuAWCa15vzX2cPgBp6ip5AxwcAmMFyl7v8O7e9t7+PdPs7weB03KtCTN/SAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+QGDAsAMkAVB00AAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAPklEQVRIx2M8ceIEAynA1NSUJPVMDDQGoxaMWjBqwagFoxZQAzD+/fuXJA2k1h+jcTBqwagFoxaMWjAkLAAAEQ8IhUX6aEEAAAAASUVORK5CYII=');
    border: none;
    box-shadow: 0 0 10px 0 #666;
    margin: 0;
    max-height: inherit;
    width: 100%;
    padding: 0;

    .display-none {
      display: none;
    }

    .h5peditor-3d-model-preview-model {
      height: inherit;
      margin: auto;
      max-height: inherit;
      width: 100%;
    }
  }

  .h5peditor-3d-model-button-remove-model {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -3px;
    top: -3px;
  }

  .h5peditor-3d-model-button-remove-model::before {
    color: #fff;
    content: "\e890";
    font-family: "H5P", sans-serif;
    font-size: 2em;
    opacity: .6;
    text-shadow: rgb(0 0 0 / 40%) 0 0 4px, rgb(0 0 0 / 40%) 0 0 4px, rgb(0 0 0 / 40%) 0 0 4px;
  }

  .h5peditor-3d-model-button-remove-model:hover::before {
    opacity: 1;
  }

  &.highlight {
    animation: highlight 1.5s ease-in-out;
  }

  @keyframes highlight {
    0% {
      box-shadow: 0 0 0.5em 0 transparent;
      outline: 2px solid transparent;
    }
    50% {
      box-shadow: 0 0 0.5em 0 #6391CA;
      outline: 2px solid #6391CA;
    }
    100% {
      box-shadow: 0 0 0.5em 0 transparent;
      outline: 2px solid transparent;
    }
  }
}
