@import "@styles/main";

.h5p-phrase-randomizer-message-display {
  align-items: center;
  background-color: rgba(#000, 0.1);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #edeff2;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  line-height: 1.25rem;
  min-height: 3.5rem;
  padding: 0.25rem;
  text-align: center;
  width: 100%;

  &.display-none {
    display: none;
  }
}
