@import "./colors";

$icon-button-fullscreen-enter: url("@assets/button-fullscreen-icon-enter-blue.svg");
$icon-button-fullscreen-exit: url("@assets/button-fullscreen-icon-exit-blue.svg");
$icon-button-play: url("@assets/button-play-icon-blue.svg");
$icon-button-pause: url("@assets/button-pause-icon-blue.svg");

html {
  box-sizing: border-box;
}

.h5p-3d-model {
  background-color: $color-background;
  color: $color-text;
  width: 100%;

  &.has-background-image {
    background-image: var(--h5p-3d-model-background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .h5p-3d-model-button {
    --button-size: 2.25rem;
    --button-padding: 0.5rem;
    background-color: #f3f8fd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
    border: 1px solid $color-primary-30;
    border-radius: 50%;
    cursor: pointer;
    height: var(--button-size);
    top: var(--button-padding);
    overflow: hidden;
    padding: 0;
    position: absolute;
    transition: border-color 100ms, opacity 100ms;
    width: var(--button-size);

    &:focus {
      outline: #000 auto 1px;
    }

    &:hover {
      background-color: #e8f1fb;
    }

    &:active {
      background-color: #e8f1fb;
    }

    &.display-none {
      display: none;
    }

    &.h5p-3d-model-button-fullscreen {
      right: var(--button-padding);
    }

    &.h5p-3d-model-button-play {
      &.has-fullscreen-button {
        right: calc(var(--button-size) + 2 * var(--button-padding));
      }

      &:not(.has-fullscreen-button) {
        right: var(--button-padding);
      }

      &.playing {
        background-image: $icon-button-pause;
      }

      &:not(.playing) {
        background-image: $icon-button-play;
      }
    }
  }

  &.h5p-fullscreen {
    .h5p-3d-model-button-fullscreen {
      background-image: $icon-button-fullscreen-exit;
    }
  }

  &:not(.h5p-fullscreen) {
    .h5p-3d-model-button-fullscreen {
      background-image: $icon-button-fullscreen-enter;
    }
  }

  .h5p-3d-model-main {
    height: inherit;
    margin: auto;
    width: inherit;
  }
}
