.dialogAudio {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

audio {
  width: 100%;
  max-width: 50rem;
}

.copyright {
  margin: 0.5em 0 1em;
}

.subtext {
  margin: 1em 0 0 0;
}
