.grid {
  display: grid;
  gap: var(--gap-size);
  position: relative;
  touch-action: none;
}

.gridIndicatorsActive {
  [data-grid-indicator] {
    cursor: pointer;
    opacity: 0.8;

    &:focus,
    &:hover {
      background-color: var(--theme-color-3);
      border-color: var(--theme-color-4);
      transition-duration: 0.1s; /* {1} */
    }
  }
}

.isCreatingArrow {
  [data-draggable] {
    cursor: pointer;

    &:before {
      background-color: var(--theme-color-3);
      content: "";
      inset: 0;
      opacity: 0;
      position: absolute;
    }

    &:hover::before {
      opacity: 0.3;
    }
  }
}

.arrowHeadPreview {
  height: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 0;
}
