// Common colors
$color-background: #fff;
$color-text: #2c2422;
$color-text-dark: $color-text;
$color-text-light: #fff;
$color-shadow-dark: rgb(83 83 83 / 20%);
$color-shadow-light: rgb(166 166 166 / 20%);

// Disabled color, e.g. for buttons
$color-disabled: rgb(128 128 128 / 95%);

// Hint box, e.g. for when no content is set
$color-hint-message-background: #f5e8d5;
$color-hint-message-border: #ed5;
$color-hint-message-text: #874e12;

$color-content: #cfdff0;
$color-tab: #e7f0f9;
$color-tab-hover: #c5dbf4;

// Commonly used by H5P Group
$color-joubelui-button: #1a73d9;
$color-joubelui-button-hover: #1356a3;
$color-joubelui-button-active: #104888;

// Misc
$margin-default: 1em;
$toolbarButtonSize: 2.75em;
$toolbarButtonBackgroundSize: 1.15em;
$offset-offscreen: -999999px;
